.App {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:#16213E ;
   
}


.nav-nav{
    display: flex;
    justify-content:space-between;
    width: 100%;
     background-color: #0F3460;
   
}
.nav-img{
   
    width: 70px;
    height: 70px;
    text-align: center;
    color: black;
    font-size: 40px;
    border-radius: 50%;
background-color: #533483;
}

.title-name{
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250px;
      letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(75, 37, 2);
    text-shadow: 
                          8px 8px #8b4d1b,
                          20px 20px #4d331e;
                      opacity: 0.7;
                      
}

.container-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
}

.button-text{

    color: rgb(0, 0, 0);
    font-weight: 700;
    align-self: center;
    background-color: #533483;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-left: 15px;
}

.title-stock{

    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 248, 248);
    margin-right: 15px;
}



.button-34 {
  background: #533483;
  border-radius: 999px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
     text-align: center;
   
  
}

.container-items-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  
   
   
}

.container-clothes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    width: 33%;
    height: 5%;
    z-index: 15;
    font-weight: 600;
}
    



.title-clothe { 
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 1px;
    font-family: 'Raleway', cursive;
    font-weight: 100;
    position: relative;
  }

  .price{
    color: #fff;
    font-size: 25px;
  }


  .item-alone{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }

  .item-alone-img{
    margin-right: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .item-alone-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .item-detail-description{
    color: white;
    font-size: 30px;
    padding-bottom: 250px;
  }

  .price-alone{
    font-size: 80px;
    font-weight: 500;
    color: #fff;
  }

  .title-clothe-alone{

    color: #fff;
    text-decoration: underline;
    font-size: 60px;
    align-self: flex-start;
   
  }

  .div-separate{
    height: 120px;
  }

  .principal-page-info{
    align-self: center;
    color: #fff;
    width: 100%;
    height: 100vh;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding-top: 100px;
    font-size: 50px;
    text-decoration: underline;
   
  }